#works{
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
    z-index: 1;
}

.worksTitle{
    margin: 1rem 0;
    font-size: 3rem;

}
.worksDes{
    font-weight: 300;
    font-size:1rem;
    max-width:45rem ;
}
.worksImgs{
    display:flex;
    /* align-items: center; */
    justify-content: space-around;
    flex-wrap:wrap;
    width: 100vw;
    max-width: 65rem;
}
.card{
    width:420px;
    height:250px; 
    display: flex;
    /* padding: 2rem 1rem; */
    
    /* position:relative; */
    
    /* align-items: flex-end; */
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.worksImg{
    
    height: 15rem;
    margin:0.5rem;
    border-radius: 3rem;
    width:25rem;
}

@media screen and (max-width:585px){
    .worksImg{
        height: 48vw;
    }
}