#skills{
    
    width:100vw;
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   
    background-color: #252d4c;
}
.contain1 {
   
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.fName {
    background-color: rgb(30, 30, 30);
}

.skillTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    animation: slideRight 1s ease forwards;
}

.skillDes {
    font-weight: 400;
    font-size: 1rem;
    max-width: 51rem;
    padding: 0 2rem;
}

.skillBars {
    display:flex;
    /* align-items: center; */
    justify-content: space-around;
    flex-wrap:wrap;
    width: 100vw;
    max-width: 65rem;
}

.skillBar {
    /* display: flex; */
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: #0e4e6c;
    width: 30%; /* Adjust as needed */
}

.skillbarimg {
    object-fit: cover;
    height: 5rem;
    width: 5rem;
    margin-right: 1rem;
}
.skillBarText>p{
  font-size: 0.9rem;
  font-weight: 200;
  text-align: center;
}
@media (max-width: 768px){
    .skillBarText>p{
        font-size: 2vw;
        
    }
    .skillBars{
        width: 100vw;
        margin-left: -6rem;
        
    }
    .contain1 {
        flex-direction: column;
      }
    
      .skillBars {
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 2%;
      }
    
      .skillBar {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width:80%;
      }
    
      .skillbarimg {
        margin: 0 0 10px 0;
      }
    
      .skillBarText h2 {
        font-size: 16px;
      }
    
      .skillBarText p {
        font-size: 12px;
      }
}


@media screen and (max-width:480px){
    .skillBarText>p{
        font-size: 3vw;
    }
    .skillbarimg{
        height: 2.25rem;
        width:2.25rem;
    }
    .skillBarText>h2{
        font-size:5vw;
    }
    
}