.contain{
    display: flex;
    flex-direction: row;
    gap:2rem;
    font-size:2.25rem;
    
}

.social-icon {
    background-color: #191f36;
    box-sizing: content-box;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    cursor: pointer;
    transition-duration: 0.3s;
}
.social-icon:hover {
    box-shadow: 0 0 10px #216382,
    0 0 25px #216382, 0 0 50px #216382,
    0 0 100px #216382, 0 0 200px #216382;
   
    color: #216382;
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
