#intro {
  height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;

  position: relative;
}
.bg {
  max-width: 100%;
  height: 90vh;
  position: absolute;
  top: -4rem;
  right: 0;
  object-fit: cover;
  z-index: -1;
  transition: 0.3s;
  transition-property: all;
  margin-top: 3rem;
}
.introContent {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hi {
  font-size: 1.75rem;
  font-weight: 100;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
}
.fn {
  color: #04aa6d;
}
.introPara {
  font-size: medium;
  font-weight: 300;
  letter-spacing: 1px;
  animation: slideLeft 1s ease forwards;
}
.SocialBTN {
  margin: 1rem 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.1s * var(--i));
}
.desktopMenuBtn {
  background-color: white;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  width: 10rem;
}
.desktopMenuBtn:hover {
  cursor: pointer;
  background-color: #04aa6d;

  box-shadow: 0 0 10px #04aa6d, 0 0 25px #04aa6d, 0 0 50px #04aa6d,
    0 0 100px #04aa6d, 0 0 200px #04aa6d;
}
.hello {
  animation: slideRight 1s ease forwards;
}
@media screen and (max-width: 480px) {
  .bg {
    right: -1vw;
  }
}
@media screen and (max-width: 720px) {
  .bg {
    opacity: 0.3;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
