*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    /* z-index: 1; */
}
body{
    background: #191f36 ;
    color: #fff;
    overflow: hidden;
    overflow-y: scroll;
}