.navbar{
    background: #191f36;
    height:5rem;
    width:100vw;
    max-width: auto;
    margin:0;
    padding:1rem 2rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    position:sticky;
    top:0;
    z-index: 3;
    
}
.name{
    margin-left: 2rem;
    font-size: xxx-large;
    font-weight: 800;
    color: #216382;
    animation: slideRight 1s ease forwards;
}

.destopMenuListItem{
    margin: 1rem;
    cursor: pointer;
    
}

.destopMenuListItem:hover{
    color:#216382;
    border-bottom: 5px solid #216382;
    width: 100%;
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.active{
  color:#216382;
}
.mobMenu{
    width:3rem;
    height: 3rem;
    display: none;
    object-fit: cover;

}

.navMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40, 40, 40);
    border-radius: 1rem;
}

.listItem{
    color:white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30, 30, 30);
}

@media screen and (max-width:720px){
    .mobMenu{
        display: flex;
    }
    .desktopMenu{
        display: none;
    }
}